@charset 'utf-8';

#header {
    background: #fff;
}

#header nav {
    display: flex;
    height: 104px;
    justify-content: space-between; /* jcsb */
    align-items: center; /* aic */
}

.gnb {
    display: flex;
}

.gnb li a {
    display: block;
    padding: 12px 20px;
    font-weight: 700;
    font-size: 18px;
    color: var(--title-color);
}

.btn-search {
    width: 54px;
    height: 54px;
    background: #fff;
    border: 1px solid var(--line-color);

    display: flex;
    justify-content: center;
    align-items: center;
}

.visual {
    height: 595px;
    background: skyblue;
}

.visual-slider {
    height: 100%;
}

.visual-slider .swiper-slide figure {
    width: 100%;
    height: 100%;
}
.visual-slider .swiper-slide figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 0; /* obp */
}

.visual-slider .btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;

    width: 70px;
    height: 70px;
    border: 1px solid #fff;
    background: transparent;

    display: flex;
    justify-content: center; /* jcc */
    align-items: center; /* aic */
}

.visual-slider .btn-prev {
    left: 40px;
}

.visual-slider .btn-next {
    right: 40px;
}

.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    background: var(--white50p);
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background: var(--main-color);
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 10px;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 30px;
}

.research {
    padding: 80px 0 66px;
    background: var(--bg-color);
}

.research-list {
    /* background: #5f5; */
    margin-top: 61px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.research-list li {
    /* border: 1px solid #000; */
    width: 380px;
    height: 200px;
    background: #fff;
    padding: 36px 38px;

    position: relative;
}

.research-list li::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 4px;
    background: red;
    transition: 0.4s;
}

.research-list li::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0%;
    height: 4px;
    background: orange;
    transition: 0.4s;
}

.research-list li dl::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 0%;
    background: yellow;
    transition: 0.4s;
}

.research-list li dl::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 4px;
    height: 0%;
    background: green;
    transition: 0.4s;
}

.research-list li:hover::before,
.research-list li:hover::after {
    width: 100%;
}

.research-list li:hover dl::before,
.research-list li:hover dl::after {
    height: 100%;
}

.research-list li a {
    display: flex;
    gap: 29px;
}

.research-list li a::before {
    content: '';
    display: block;
    width: 71px;
    height: 60px;
    background: no-repeat 50%;

    flex-shrink: 0; /* fxsh0: 줄어들지마 */
}

.research-list li:nth-child(1) a::before {
    background-image: url(../images/research-icon01.png);
}
.research-list li:nth-child(2) a::before {
    background-image: url(../images/research-icon02.png);
}
.research-list li:nth-child(3) a::before {
    background-image: url(../images/research-icon03.png);
}
.research-list li:nth-child(4) a::before {
    background-image: url(../images/research-icon04.png);
}
.research-list li:nth-child(5) a::before {
    background-image: url(../images/research-icon05.png);
}
.research-list li:nth-child(6) a::before {
    background-image: url(../images/research-icon06.png);
}
.research-list li:nth-child(7) a::before {
    background-image: url(../images/research-icon07.png);
}
.research-list li:nth-child(8) a::before {
    background-image: url(../images/research-icon08.png);
}
.research-list li:nth-child(9) a::before {
    background-image: url(../images/research-icon09.png);
}

.research-list li dl dt {
    font-weight: 700;
    font-size: 18px;
    color: var(--title-color);
}
.research-list li dl dd {
    font-size: 14px;
    margin-top: 18px;
}

.join {
    min-height: 690px;
    padding: 80px 0;
    background: url(../images/process-bg.jpg) no-repeat 50% / cover;
    background-attachment: fixed; /* bga: 배경 이미지 고정 */
}

.join * {
    color: #fff;
}

.join-con {
    /* background: tomato; */
    margin-top: 119px;
    width: 650px;
}

.join-con h3 {
    font-weight: 700;
    font-size: 44px;
}
.join-con p {
    font-size: 20px;
    margin-top: 31px;
}
.join-con a {
    font-weight: 700;
    font-size: 18px;
    margin-top: 34px;
    display: flex;
    gap: 5px;
}

.join-con a::after {
    content: '';
    display: block;
    width: 27px;
    height: 27px;
    background: url(../images/ico-more.png) no-repeat 50%;
}

#footer {
    background: #1f1f1f;
    padding: 77px 0;
}

#footer * {
    color: #7e7e7e;
}

.foot-link ul {
    display: flex;
    margin-left: -16px; /* ml-16: a태그의 왼쪽 padding값만큼 재조정 */
}
.foot-link ul li {
    /* border: 1px solid #f00; */
    position: relative;
}

.foot-link ul li::after {
    content: '';
    display: block;
    width: 1px;
    height: 10px;
    background: var(--white30p);

    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%); /* trfty */
}

.foot-link ul li:last-child::after {
    display: none;
}

.foot-link ul li a {
    display: block;
    padding: 5px 16px;
    font-weight: 700;
    font-size: 14px;
}

.foot-con {
    border-top: 1px solid var(--white30p); /* bdt */
    margin-top: 31px;
    padding-top: 31px;
    display: flex;
    justify-content: space-between;
}

.copyright p + p {
    font-weight: 700;
    margin-top: 6px;
}
